/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.create-title {
  color: #ff5901;
}

.category-btn {
  background-color: #111111;
}
.category-btn:hover {
  background-color: #ff5901;
}

.category-btn-active {
  background-color: #ff5901;
  /* border: 1px solid #212121; */
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #252525;
}
::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background-color: #ff5901;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
