.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.loadmore {
  background-color: #111111;
}
.loadmore:hover {
  color: #ff5901;
}

.accordionContainer {
  overflow: hidden;
  border: 1px solid #111111;
  transition-duration: 0.5s;
  user-select: none;
}
.accordionOpened {
  height: none;
  transition-duration: 0.5s;
}
.accordionClosed {
  height: 50px;
  transition-duration: 0.5s;
  transition-property: height;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
