/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app.sass";

// Fonts
@font-face {
  font-family: "quickSandLight";
  src: url("./libs/Quicksand/static/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "quickSandRegular";
  src: url("./libs/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "quickSandMedium";
  src: url("./libs/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}

html {
  font-family: "quickSandLight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-warpper {
  text-align: center;
  width: 100px;
  background-color: #ff5a0186;
  &:hover {
    background-color: #ff5901;
  }
}

.create-title {
  color: $mainColorOrange;
}

.category-btn {
  background-color: $bg1;
}
.category-btn:hover {
  background-color: $mainColorOrange;
}

.category-btn-active {
  background-color: $mainColorOrange;
  /* border: 1px solid #212121; */
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $bg2;
}
::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background-color: $mainColorOrange;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
